/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAVOLA COLORI UTILI 
#add8e6
#daa520
#00008b
#ee82ee
#1e90ff
#ffc0cb
#d3d3d3
#228b22
#23272a
#f08080
#20b2aa
*/

/* Common */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    
    /* debug */
    border: 1px solid #000000;
}

.container-small {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ee82ee;

    /* debug */
    min-height: 350px;
}

/* Layout */
.header-top {
    background-color: #add8e6;
    padding: 10px 0px;
}

.header-bottom {
    background-color: #00008b;
    display: flex;
    justify-content: center;
    align-items: center;


    /* debug */
    min-height: 400px;
    min-width: 500px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.nav {
    background-color: #daa520;
    padding: 5px 0px;
}

.section-main {
    padding: 30px 0px;
   
   
    /* debug */
    min-width: 500px;
    min-height: 330px;
    border: 1px solid black;
}
.flex {
    display: flex;
}

.div-40 {
    width: 40%;
    background-color: #ffc0cb;

    /* debug */
    min-height: 300px;

}

.div-60 {
    width: 60%;
    background-color: #1e90ff;
}

.reverse {
    display:flex;
    flex-direction: row-reverse;
}

.section-main:nth-child(even) {
    background-color: #d3d3d3;
}

.section-green {
    background-color: #228b22;
    /* debug */
    min-width: 450px;
    min-height: 500px;
}

.footer-top {
    background-color: #23272a;
    padding: 5px 0px 20px;
    
    /* debug */
    min-height: 300px;
    min-width: 400px;
}

.foot-large {
    background-color: #f08080;

    /* debug */
    min-width: 300px;
    min-height: 400px;
    border: 1px solid white;
}

.foot-small {
    background-color: #20b2aa;
       
    /* debug */
    min-width: 100px;
    min-height: 400px;
    border: 1px solid white;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.footer-bottom {
    background-color: #23272a;
    border-top: 1px solid white;
    padding-top: 10px;
}

.footer-color {
    background-color: #7fffd4;
    padding: 10px 0px;
}